.container{
  min-width: 100%;
  min-height: 100vh;
  padding: 0 10%;
  display: flex;
  justify-content: start;
  padding-top: 20px;
  flex-direction: column;
  background: #201F1F;
}
.container > .mode-row {
  display: flex;
  margin-bottom: 20px;

}
.container > .mode-row > .mode-btn {
  width: 50%;
  text-align: center;
  padding: 20px;
  background-color:#FFFFFF;
  color: #000000;
}
.container > .mode-row > .mode-btn.active {
  background-color: #616161;
  color: #FFFFFF;
}
