<div [hidden]="!withForm"  class="row">
<div class="col-md-2">
    <label for="typeOfStoyka"> Тип стойки</label>
    <select class="form-control" (change)= "changeSize()"  [(ngModel)]="billBoard.typeOfStoyka" name="typeOfStoyka" id="">
        <option value="rectangle">
            прямоугольник
        </option>
        <option value="square">
            полый квадрат
        </option>
        <option value="ring">
            кольцо
        </option>
        <option value="circle">
            круг
        </option>
    </select>
    <div *ngIf="billBoard.typeOfStoyka == 'rectangle'">
        <div>
            Для прямоугольника J<sub>y</sub> = b<sup>4</sup>/12 = <b>{{billBoard.calculateJy()}}</b>
             <div>
                  y<sub>max</sub> = <b>{{billBoard.construction.stoykaWidth/100/2}}</b>;
             </div>
         </div>
    </div>
    <div *ngIf="billBoard.typeOfStoyka == 'square'">
        <div>
            <label for="sForSquare">Толщина полого квадрата</label>
            <input class="form-control" (change)= "changeSize()" type="number" min="1" max="1000"  style="margin: 10px;" placeholder="" [(ngModel)]="billBoard.construction.sForSquare"/>
            Для квадрата J<sub>y</sub> = 2/3 * b<sup>3</sup>S = <b>{{billBoard.calculateJy()}}</b>
             <div>
                  y<sub>max</sub> = <b>{{billBoard.construction.stoykaWidth/100/2}}</b>;
             </div>
         </div>
    </div>
    <div *ngIf="billBoard.typeOfStoyka == 'ring'">
            <div>
                <label for="sForRing">Радиус внешнего кольца d<sub>1</sub></label>
                <input class="form-control" (change)= "changeSize()"type="number" min="1" max="1000"  style="margin: 10px;" placeholder="" [(ngModel)]="billBoard.construction.sForRing"/>
                Для кольца J<sub>y</sub> = ( Pi * d<sup>4</sup> / 64 ) * [1 - d<sub>1</sub>/ d] = <b>{{billBoard.calculateJy()}}</b>
                <div>
                    y<sub>max</sub> = <b>{{billBoard.construction.stoykaWidth/100/2}}</b>;
                </div>
            </div>
    </div>
    <div *ngIf="billBoard.typeOfStoyka == 'circle'">
            <div>
                Для круга J<sub>y</sub> = ( Pi * d<sup>4</sup> / 64 ) = <b>{{billBoard.calculateJy()}}</b>
                <div>
                    y<sub>max</sub> = <b>{{billBoard.construction.stoykaWidth/100/2}}</b>;
                </div>
            </div>
    </div>
    <button class="btn btn-primary" (click)="importStl()">import stl</button>
</div>
<div class="col-md-2">
    <div class="form-group">
        <label for="stoykaHeight">Высота стойки (CM)</label>

        <input class="form-control" (change)= "changeSize()" type="number" min="1" max="1000" style="margin: 10px;" placeholder="Высота стойки" [(ngModel)]="billBoard.construction.stoykaHeight"  />
    </div>
    <div class="form-group">
        <label for="stoykaWidth">Ширина стойки (CM)</label>
        <input class="form-control" (change)= "changeSize()" type="number" min="1" style="margin: 10px;" placeholder="Ширина стойки" [(ngModel)]="billBoard.construction.stoykaWidth"/>
    </div>
    floor1    <div class="form-group">
        <label for="selectFloorMaterial">Материал пола</label>
        <select class="form-control" (change)="changeFloor()" [(ngModel)]="billBoard.floorMaterial" name="selectFloorMaterial" id="">
            <option value="plane">
                plane
            </option>
            <option value="floor">
                 floor1
            </option>
            <option value="floor2">
                 floor2
            </option>
            <option value="floor3">
                floor3
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="selectFloorMaterial">Logo</label>
        <select class="form-control" (change)="changeMaterial()" [(ngModel)]="billBoard.logo" name="selectLogoMaterial" id="">
            <option value="plane">
                plane
            </option>
            <option value="logo">
                logo1
            </option>
            <option value="logo2">
                logo2
            </option>
            <option value="logo3">
                logo3
            </option>
            <option value="logo4">
                logo4
            </option>
        </select>
    </div>
</div>

<!-- <label for="stoykaCarcas">Каркас</label> -->
<!-- <input (change)= "changeSize()" (change)= "changeSize()"type="checkbox" [(ngModel)]="billBoard.stoykaCarcas" id=""> -->
<!-- <input (change)= "changeSize()"type="number" style="margin: 10px;" placeholder="Глубина стойки" [(ngModel)]="billBoard.stoykaDepth"/> -->
<div class="col-md-2">
    <div class="form-group">
        <label for="selectMaterial">Материал Билбоарда</label>
        <select class="form-control" (change)="changeMaterial()" [(ngModel)]="billBoard.material" name="selectMaterial" id="">
            <option value="metal1">
                metal1
            </option>
            <option value="metal2">
            metal2
            </option>
            <option value="metal3">
                metal3
            </option>
            <option value="metal4">
                metal4
            </option>
            <option value="metal5">
                metal5
            </option>
            <option value="metal6">
                metal6
            </option>
            <option value="metal7">
                metal7
            </option>
            <option value="metal8">
                metal8
            </option>
            <option value="metal9">
                metal9
            </option>
            <option value="carcas">
                carcas
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="bilboardHeigth">Высота билборда(CM)</label>
        <input class="form-control" (change)= "changeSize()"type="number" min="1" max="1000"  style="margin: 10px;" placeholder="Высота билборда" [(ngModel)]="billBoard.construction.bilboardHeigth"  />
    </div>
    <div class="form-group">
        <label for="bilboardWidth">Ширина билборда(CM)</label>
        <input class="form-control" (change)= "changeSize()"type="number" min="1" max="1000"  style="margin: 10px;" placeholder="Ширина билбоарда" [(ngModel)]="billBoard.construction.bilboardWidth"/>
    </div>
    <div class="form-group">
        <label for="bilboardDepth">Глубина билборда(CM)</label>
        <input class="form-control" (change)= "changeSize()"type="number" min="1" max="1000"  style="margin: 10px;" placeholder="Глубина билбоарда" [(ngModel)]="billBoard.construction.bilboardDepth"/>
    </div>
    <!-- <label for="stoykaCarcas">Каркас</label> -->
    <!-- <input (change)= "changeSize()"type="checkbox" [(ngModel)]="billBoard.boardCarcas" id=""> -->
</div>
<div class="col-md-3">
    <div>
        F = 0.5 p V <sup>2</sup> S cosA  = <b>{{billBoard.calculateFWIND()}}</b>
    </div>
    <div>
         M = H X F = <b>{{billBoard.calculateMoment()}}</b>
    </div>
    <div>
        σ = M / W = <b>{{billBoard.calculateSigma()}}</b>
    </div>
    <div>
        W = J<sub>y</sub> / y<sub>max</sub> = <b>{{billBoard.calculateW() }}</b>
    </div>

    <div >
        <label for="">Площадь Щита:
            <b>{{billBoard.getBoardArea()}} м
                <sup>2</sup>
            </b>
        </label>
        <!-- <input disabled class="form-control" /> -->
    </div>
    <div class="form-group">
         <label for="">Густота воздуха(1.2кг/м <sup>3</sup>)</label>
        <input [(ngModel)]="billBoard.P"  class="form-control"/>
    </div>
    <div class="form-group">
        <label for="">Скорость ветра(М /C )</label>
        <input [(ngModel)]="billBoard.V" class="form-control"/>
    </div>


</div>
<div class="col-md-3">
    <div>
     Плотность стали P = :
    <b>7850 кг/м³</b>
    </div>
     <div> Прочности стали E = :
    <b>2.1 * 10<sup>11</sup>ПА</b>
    </div>
    <div>
         V (Объем) = A * B * C = <b>{{billBoard.getBoardV()}} м³</b>
    </div>
    <div>
        М (Масса кг) = P * V =<b> {{billBoard.getBoardMassa()}} кг </b>
    </div>
    <div>
       f<sub>кр</sub> = 0.11 * V  / max(a,b) = <b> {{billBoard.getFkr()}}</b>
    </div>
    <div>
     <span style="white-space: nowrap; font-size:larger">
       f = &radic;
        <span>(3*E*J<sub>y</sub> /  M * H<sup>3</sup>)</span> = <b>{{billBoard.getF()}}</b>
    </span>
    </div>
    <div>
        f <span [ngStyle]="{'color': billBoard.styleForZnak() ? 'green' : 'red' }"> > </span>f<sub>кр</sub>
    </div>
    <div class="form-group">
        <label for="">Угол между нормалью до поверхности щита и скоростью ветра(градусы)</label>
        <input [(ngModel)]="billBoard.A" class="form-control"/>
    </div>

</div>
</div>
<!-- <button (click)="changeSize()">
    click
</button> -->

<canvas #canvas (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)">
</canvas>
